<div class="nk-content ">
    <div class="container-fluid">
        <div class="nk-content-inner">
            <div class="nk-content-body">
                <div class="nk-block" style="margin-top: 30px;">
                    <div class="nk-block-head">
                        <div class="nk-block-head-content">
                            <h5 class="nk-block-title"> PAYMENT WALLETS</h5>
                            <div class="nk-block-des">
                                <p>Use The Wallet Addresses Below to Make Payment.</p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xxl-3 col-sm-6" style="display: none">
                            <div class="nk-files nk-files-view-list">
                                <div class="nk-files-list">
                                    <div class="nk-file-item nk-file">
                                        <div class="nk-file-info">
                                            <a href="/uploads/documents/" target="_blank" class="nk-file-link">
                                                <div class="nk-file-title">
                                                    <div class="nk-file-icon">
                                                        <span class="nk-file-icon-type">
                                                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 72 72">
                                                                <g>
                                                                    <path d="M50,61H22a6,6,0,0,1-6-6V22l9-11H50a6,6,0,0,1,6,6V55A6,6,0,0,1,50,61Z" style="fill:#599def" />
                                                                    <path d="M25,20.556A1.444,1.444,0,0,1,23.556,22H16l9-11h0Z" style="fill:#c2e1ff" />
                                                                    <rect x="27" y="31" width="18" height="2" rx="1" ry="1" style="fill:#fff" />
                                                                    <rect x="27" y="36" width="18" height="2" rx="1" ry="1" style="fill:#fff" />
                                                                    <rect x="27" y="41" width="18" height="2" rx="1" ry="1" style="fill:#fff" />
                                                                    <rect x="27" y="46" width="12" height="2" rx="1" ry="1" style="fill:#fff" />
                                                                </g>
                                                            </svg>
                                                        </span>
                                                    </div>
                                                    <div class="nk-file-name">
                                                        <div class="nk-file-name-text"><span class="title">GBP.pdf</span></div>
                                                    </div>
                                                </div>
                                            </a>
                                        </div>
                                        <div class="nk-file-actions">
                                            <div class="dropdown">
                                                <a href="" class="dropdown-toggle btn btn-sm btn-icon btn-trigger" data-toggle="dropdown"><em class="icon ni ni-more-h"></em></a>
                                                <div class="dropdown-menu dropdown-menu-right">
                                                    <ul class="link-list-opt no-bdr">
                                                        <li><a href="/uploads/documents/" target="_blank"><em class="icon ni ni-download"></em><span>Download</span></a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="nk-file-item nk-file">
                                        <div class="nk-file-info">
                                            <a href="/uploads/documents/" target="_blank" class="nk-file-link">
                                                <div class="nk-file-title">
                                                    <div class="nk-file-icon">
                                                        <span class="nk-file-icon-type">
                                                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 72 72">
                                                                <g>
                                                                    <path d="M50,61H22a6,6,0,0,1-6-6V22l9-11H50a6,6,0,0,1,6,6V55A6,6,0,0,1,50,61Z" style="fill:#599def" />
                                                                    <path d="M25,20.556A1.444,1.444,0,0,1,23.556,22H16l9-11h0Z" style="fill:#c2e1ff" />
                                                                    <rect x="27" y="31" width="18" height="2" rx="1" ry="1" style="fill:#fff" />
                                                                    <rect x="27" y="36" width="18" height="2" rx="1" ry="1" style="fill:#fff" />
                                                                    <rect x="27" y="41" width="18" height="2" rx="1" ry="1" style="fill:#fff" />
                                                                    <rect x="27" y="46" width="12" height="2" rx="1" ry="1" style="fill:#fff" />
                                                                </g>
                                                            </svg>
                                                        </span>
                                                    </div>
                                                    <div class="nk-file-name">
                                                        <div class="nk-file-name-text"><span class="title">USD.pdf</span></div>
                                                    </div>
                                                </div>
                                            </a>
                                        </div>
                                        <div class="nk-file-actions">
                                            <div class="dropdown">
                                                <a href="" class="dropdown-toggle btn btn-sm btn-icon btn-trigger" data-toggle="dropdown"><em class="icon ni ni-more-h"></em></a>
                                                <div class="dropdown-menu dropdown-menu-right">
                                                    <ul class="link-list-opt no-bdr">
                                                        <li><a href="/uploads/documents/" target="_blank"><em class="icon ni ni-download"></em><span>Download</span></a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="nk-file-item nk-file">
                                        <div class="nk-file-info">
                                            <a href="/uploads/documents/" target="_blank" class="nk-file-link">
                                                <div class="nk-file-title">
                                                    <div class="nk-file-icon">
                                                        <span class="nk-file-icon-type">
                                                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 72 72">
                                                                <g>
                                                                    <path d="M50,61H22a6,6,0,0,1-6-6V22l9-11H50a6,6,0,0,1,6,6V55A6,6,0,0,1,50,61Z" style="fill:#599def" />
                                                                    <path d="M25,20.556A1.444,1.444,0,0,1,23.556,22H16l9-11h0Z" style="fill:#c2e1ff" />
                                                                    <rect x="27" y="31" width="18" height="2" rx="1" ry="1" style="fill:#fff" />
                                                                    <rect x="27" y="36" width="18" height="2" rx="1" ry="1" style="fill:#fff" />
                                                                    <rect x="27" y="41" width="18" height="2" rx="1" ry="1" style="fill:#fff" />
                                                                    <rect x="27" y="46" width="12" height="2" rx="1" ry="1" style="fill:#fff" />
                                                                </g>
                                                            </svg>
                                                        </span>
                                                    </div>
                                                    <div class="nk-file-name">
                                                        <div class="nk-file-name-text"><span class="title">EUR.pdf</span></div>
                                                    </div>
                                                </div>
                                            </a>
                                        </div>
                                        <div class="nk-file-actions">
                                            <div class="dropdown">
                                                <a href="" class="dropdown-toggle btn btn-sm btn-icon btn-trigger" data-toggle="dropdown"><em class="icon ni ni-more-h"></em></a>
                                                <div class="dropdown-menu dropdown-menu-right">
                                                    <ul class="link-list-opt no-bdr">
                                                        <li><a href="/uploads/documents/" target="_blank"><em class="icon ni ni-download"></em><span>Download</span></a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xxl-3 col-sm-6" style="display: none">
                            <div class="nk-files nk-files-view-list">
                                <div class="nk-files-list">
                                    <div class="nk-file-item nk-file">
                                        <div class="nk-file-info">
                                            <a href="/uploads/documents/" target="_blank" class="nk-file-link">
                                                <div class="nk-file-title">
                                                    <div class="nk-file-icon">
                                                        <span class="nk-file-icon-type">
                                                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 72 72">
                                                                <g>
                                                                    <path d="M50,61H22a6,6,0,0,1-6-6V22l9-11H50a6,6,0,0,1,6,6V55A6,6,0,0,1,50,61Z" style="fill:#599def" />
                                                                    <path d="M25,20.556A1.444,1.444,0,0,1,23.556,22H16l9-11h0Z" style="fill:#c2e1ff" />
                                                                    <rect x="27" y="31" width="18" height="2" rx="1" ry="1" style="fill:#fff" />
                                                                    <rect x="27" y="36" width="18" height="2" rx="1" ry="1" style="fill:#fff" />
                                                                    <rect x="27" y="41" width="18" height="2" rx="1" ry="1" style="fill:#fff" />
                                                                    <rect x="27" y="46" width="12" height="2" rx="1" ry="1" style="fill:#fff" />
                                                                </g>
                                                            </svg>
                                                        </span>
                                                    </div>
                                                    <div class="nk-file-name">
                                                        <div class="nk-file-name-text"><span class="title">CHF.pdf</span></div>
                                                    </div>
                                                </div>
                                            </a>
                                        </div>
                                        <div class="nk-file-actions">
                                            <div class="dropdown">
                                                <a href="" class="dropdown-toggle btn btn-sm btn-icon btn-trigger" data-toggle="dropdown"><em class="icon ni ni-more-h"></em></a>
                                                <div class="dropdown-menu dropdown-menu-right">
                                                    <ul class="link-list-opt no-bdr">
                                                        <li><a href="/uploads/documents/" target="_blank"><em class="icon ni ni-download"></em><span>Download</span></a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="nk-file-item nk-file">
                                        <div class="nk-file-info">
                                            <a href="/uploads/documents/" target="_blank" class="nk-file-link">
                                                <div class="nk-file-title">
                                                    <div class="nk-file-icon">
                                                        <span class="nk-file-icon-type">
                                                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 72 72">
                                                                <g>
                                                                    <path d="M50,61H22a6,6,0,0,1-6-6V22l9-11H50a6,6,0,0,1,6,6V55A6,6,0,0,1,50,61Z" style="fill:#599def" />
                                                                    <path d="M25,20.556A1.444,1.444,0,0,1,23.556,22H16l9-11h0Z" style="fill:#c2e1ff" />
                                                                    <rect x="27" y="31" width="18" height="2" rx="1" ry="1" style="fill:#fff" />
                                                                    <rect x="27" y="36" width="18" height="2" rx="1" ry="1" style="fill:#fff" />
                                                                    <rect x="27" y="41" width="18" height="2" rx="1" ry="1" style="fill:#fff" />
                                                                    <rect x="27" y="46" width="12" height="2" rx="1" ry="1" style="fill:#fff" />
                                                                </g>
                                                            </svg>
                                                        </span>
                                                    </div>
                                                    <div class="nk-file-name">
                                                        <div class="nk-file-name-text"><span class="title">JPY.pdf</span></div>
                                                    </div>
                                                </div>
                                            </a>
                                        </div>
                                        <div class="nk-file-actions">
                                            <div class="dropdown">
                                                <a href="" class="dropdown-toggle btn btn-sm btn-icon btn-trigger" data-toggle="dropdown"><em class="icon ni ni-more-h"></em></a>
                                                <div class="dropdown-menu dropdown-menu-right">
                                                    <ul class="link-list-opt no-bdr">
                                                        <li><a href="/uploads/documents/" target="_blank"><em class="icon ni ni-download"></em><span>Download</span></a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="nk-file-item nk-file">
                                        <div class="nk-file-info">
                                            <a href="/uploads/documents/" target="_blank" class="nk-file-link">
                                                <div class="nk-file-title">
                                                    <div class="nk-file-icon">
                                                        <span class="nk-file-icon-type">
                                                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 72 72">
                                                                <g>
                                                                    <path d="M50,61H22a6,6,0,0,1-6-6V22l9-11H50a6,6,0,0,1,6,6V55A6,6,0,0,1,50,61Z" style="fill:#599def" />
                                                                    <path d="M25,20.556A1.444,1.444,0,0,1,23.556,22H16l9-11h0Z" style="fill:#c2e1ff" />
                                                                    <rect x="27" y="31" width="18" height="2" rx="1" ry="1" style="fill:#fff" />
                                                                    <rect x="27" y="36" width="18" height="2" rx="1" ry="1" style="fill:#fff" />
                                                                    <rect x="27" y="41" width="18" height="2" rx="1" ry="1" style="fill:#fff" />
                                                                    <rect x="27" y="46" width="12" height="2" rx="1" ry="1" style="fill:#fff" />
                                                                </g>
                                                            </svg>
                                                        </span>
                                                    </div>
                                                    <div class="nk-file-name">
                                                        <div class="nk-file-name-text"><span class="title">AUD.pdf</span></div>
                                                    </div>
                                                </div>
                                            </a>
                                        </div>
                                        <div class="nk-file-actions">
                                            <div class="dropdown">
                                                <a href="" class="dropdown-toggle btn btn-sm btn-icon btn-trigger" data-toggle="dropdown"><em class="icon ni ni-more-h"></em></a>
                                                <div class="dropdown-menu dropdown-menu-right">
                                                    <ul class="link-list-opt no-bdr">
                                                        <li><a href="/uploads/documents/" target="_blank"><em class="icon ni ni-download"></em><span>Download</span></a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xxl-6 col-sm-12">
                            <div class="nk-files nk-files-view-list">
                                <div class="nk-files-list">
                                    <div class="nk-file-item nk-file">
                                        <div class="nk-file-info">
                                            <a href="#" data="BTC" class="bitcoin nk-file-link" data-dismiss="modal" data-toggle="modal" data-target="#walleteAddressModal">
                                                <div class="nk-file-title">
                                                    <div class="nk-file-icon">
                                                        <span class="nk-file-icon-type">
                                                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 72 72">
                                                                <g>
                                                                    <path d="M50,61H22a6,6,0,0,1-6-6V22l9-11H50a6,6,0,0,1,6,6V55A6,6,0,0,1,50,61Z" style="fill:#599def" />
                                                                    <path d="M25,20.556A1.444,1.444,0,0,1,23.556,22H16l9-11h0Z" style="fill:#c2e1ff" />
                                                                    <rect x="27" y="31" width="18" height="2" rx="1" ry="1" style="fill:#fff" />
                                                                    <rect x="27" y="36" width="18" height="2" rx="1" ry="1" style="fill:#fff" />
                                                                    <rect x="27" y="41" width="18" height="2" rx="1" ry="1" style="fill:#fff" />
                                                                    <rect x="27" y="46" width="12" height="2" rx="1" ry="1" style="fill:#fff" />
                                                                </g>
                                                            </svg>
                                                        </span>
                                                    </div>
                                                    <div class="nk-file-name">
                                                        <div class="nk-file-name-text"><span class="title">Bitcoin (BTC)</span></div>
                                                    </div>
                                                </div>
                                            </a>
                                        </div>
                                        <div class="nk-file-actions">
                                            <div class="dropdown">
                                                <a href="" class="dropdown-toggle btn btn-sm btn-icon btn-trigger" data-toggle="dropdown"><em class="icon ni ni-more-h"></em></a>
                                                <div class="dropdown-menu dropdown-menu-right">
                                                    <ul class="link-list-opt no-bdr">
                                                        <li><a href="#" data="BTC" class="bitcoin" data-dismiss="modal" data-toggle="modal" data-target="#walleteAddressModal">
                                                            <em class="icon ni ni-download"></em><span>View</span></a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="nk-file-item nk-file">
                                        <div class="nk-file-info">
                                            <a href="#" data="ETH" class="bitcoin nk-file-link" data-dismiss="modal" data-toggle="modal" data-target="#walleteAddressModal">
                                                <div class="nk-file-title">
                                                    <div class="nk-file-icon">
                                                        <span class="nk-file-icon-type">
                                                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 72 72">
                                                                <g>
                                                                    <path d="M50,61H22a6,6,0,0,1-6-6V22l9-11H50a6,6,0,0,1,6,6V55A6,6,0,0,1,50,61Z" style="fill:#599def" />
                                                                    <path d="M25,20.556A1.444,1.444,0,0,1,23.556,22H16l9-11h0Z" style="fill:#c2e1ff" />
                                                                    <rect x="27" y="31" width="18" height="2" rx="1" ry="1" style="fill:#fff" />
                                                                    <rect x="27" y="36" width="18" height="2" rx="1" ry="1" style="fill:#fff" />
                                                                    <rect x="27" y="41" width="18" height="2" rx="1" ry="1" style="fill:#fff" />
                                                                    <rect x="27" y="46" width="12" height="2" rx="1" ry="1" style="fill:#fff" />
                                                                </g>
                                                            </svg>
                                                        </span>
                                                    </div>
                                                    <div class="nk-file-name">
                                                        <div class="nk-file-name-text"><span class="title">Ethereum (ETH)</span></div>
                                                    </div>
                                                </div>
                                            </a>
                                        </div>
                                        <div class="nk-file-actions">
                                            <div class="dropdown">
                                                <a href="" class="dropdown-toggle btn btn-sm btn-icon btn-trigger" data-toggle="dropdown"><em class="icon ni ni-more-h"></em></a>
                                                <div class="dropdown-menu dropdown-menu-right">
                                                    <ul class="link-list-opt no-bdr">
                                                        <li><a href="#" data="ETH" class="bitcoin" data-dismiss="modal" data-toggle="modal" data-target="#walleteAddressModal">
                                                            <em class="icon ni ni-download"></em><span>View</span></a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="nk-file-item nk-file">
                                        <div class="nk-file-info">
                                            <a href="#" data="LTC" class="bitcoin nk-file-link" data-dismiss="modal" data-toggle="modal" data-target="#walleteAddressModal">
                                                <div class="nk-file-title">
                                                    <div class="nk-file-icon">
                                                        <span class="nk-file-icon-type">
                                                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 72 72">
                                                                <g>
                                                                    <path d="M50,61H22a6,6,0,0,1-6-6V22l9-11H50a6,6,0,0,1,6,6V55A6,6,0,0,1,50,61Z" style="fill:#599def" />
                                                                    <path d="M25,20.556A1.444,1.444,0,0,1,23.556,22H16l9-11h0Z" style="fill:#c2e1ff" />
                                                                    <rect x="27" y="31" width="18" height="2" rx="1" ry="1" style="fill:#fff" />
                                                                    <rect x="27" y="36" width="18" height="2" rx="1" ry="1" style="fill:#fff" />
                                                                    <rect x="27" y="41" width="18" height="2" rx="1" ry="1" style="fill:#fff" />
                                                                    <rect x="27" y="46" width="12" height="2" rx="1" ry="1" style="fill:#fff" />
                                                                </g>
                                                            </svg>
                                                        </span>
                                                    </div>
                                                    <div class="nk-file-name">
                                                        <div class="nk-file-name-text"><span class="title">Litecoin (LTC)</span></div>
                                                    </div>
                                                </div>
                                            </a>
                                        </div>
                                        <div class="nk-file-actions">
                                            <div class="dropdown">
                                                <a href="" class="dropdown-toggle btn btn-sm btn-icon btn-trigger" data-toggle="dropdown"><em class="icon ni ni-more-h"></em></a>
                                                <div class="dropdown-menu dropdown-menu-right">
                                                    <ul class="link-list-opt no-bdr">
                                                        <li><a href="#" data="LTC" class="bitcoin" data-dismiss="modal" data-toggle="modal" data-target="#walleteAddressModal">
                                                            <em class="icon ni ni-download"></em><span>View</span></a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xxl-6 col-sm-12">
                            <div class="nk-files nk-files-view-list">
                                <div class="nk-files-list">
                                    <div class="nk-file-item nk-file">
                                        <div class="nk-file-info">
                                            <a href="#" data="BCH" class="bitcoin nk-file-link" data-dismiss="modal" data-toggle="modal" data-target="#walleteAddressModal">
                                                <div class="nk-file-title">
                                                    <div class="nk-file-icon">
                                                        <span class="nk-file-icon-type">
                                                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 72 72">
                                                                <g>
                                                                    <path d="M50,61H22a6,6,0,0,1-6-6V22l9-11H50a6,6,0,0,1,6,6V55A6,6,0,0,1,50,61Z" style="fill:#599def" />
                                                                    <path d="M25,20.556A1.444,1.444,0,0,1,23.556,22H16l9-11h0Z" style="fill:#c2e1ff" />
                                                                    <rect x="27" y="31" width="18" height="2" rx="1" ry="1" style="fill:#fff" />
                                                                    <rect x="27" y="36" width="18" height="2" rx="1" ry="1" style="fill:#fff" />
                                                                    <rect x="27" y="41" width="18" height="2" rx="1" ry="1" style="fill:#fff" />
                                                                    <rect x="27" y="46" width="12" height="2" rx="1" ry="1" style="fill:#fff" />
                                                                </g>
                                                            </svg>
                                                        </span>
                                                    </div>
                                                    <div class="nk-file-name">
                                                        <div class="nk-file-name-text"><span class="title">Bitcoin Cash (BCH)</span></div>
                                                    </div>
                                                </div>
                                            </a>
                                        </div>
                                        <div class="nk-file-actions">
                                            <div class="dropdown">
                                                <a href="" class="dropdown-toggle btn btn-sm btn-icon btn-trigger" data-toggle="dropdown"><em class="icon ni ni-more-h"></em></a>
                                                <div class="dropdown-menu dropdown-menu-right">
                                                    <ul class="link-list-opt no-bdr">
                                                        <li><a href="#" data="BCH" class="bitcoin" data-dismiss="modal" data-toggle="modal" data-target="#walleteAddressModal">
                                                            <em class="icon ni ni-download"></em><span>View</span></a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="nk-file-item nk-file">
                                        <div class="nk-file-info">
                                            <a href="#" data="XRP" class="bitcoin nk-file-link" data-dismiss="modal" data-toggle="modal" data-target="#walleteAddressModal">
                                                <div class="nk-file-title">
                                                    <div class="nk-file-icon">
                                                        <span class="nk-file-icon-type">
                                                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 72 72">
                                                                <g>
                                                                    <path d="M50,61H22a6,6,0,0,1-6-6V22l9-11H50a6,6,0,0,1,6,6V55A6,6,0,0,1,50,61Z" style="fill:#599def" />
                                                                    <path d="M25,20.556A1.444,1.444,0,0,1,23.556,22H16l9-11h0Z" style="fill:#c2e1ff" />
                                                                    <rect x="27" y="31" width="18" height="2" rx="1" ry="1" style="fill:#fff" />
                                                                    <rect x="27" y="36" width="18" height="2" rx="1" ry="1" style="fill:#fff" />
                                                                    <rect x="27" y="41" width="18" height="2" rx="1" ry="1" style="fill:#fff" />
                                                                    <rect x="27" y="46" width="12" height="2" rx="1" ry="1" style="fill:#fff" />
                                                                </g>
                                                            </svg>
                                                        </span>
                                                    </div>
                                                    <div class="nk-file-name">
                                                        <div class="nk-file-name-text"><span class="title">Ripple (XRP)</span></div>
                                                    </div>
                                                </div>
                                            </a>
                                        </div>
                                        <div class="nk-file-actions">
                                            <div class="dropdown">
                                                <a href="" class="dropdown-toggle btn btn-sm btn-icon btn-trigger" data-toggle="dropdown"><em class="icon ni ni-more-h"></em></a>
                                                <div class="dropdown-menu dropdown-menu-right">
                                                    <ul class="link-list-opt no-bdr">
                                                        <li><a href="#" data="XRP" class="bitcoin" data-dismiss="modal" data-toggle="modal" data-target="#walleteAddressModal">
                                                            <em class="icon ni ni-download"></em><span>View</span></a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="nk-file-item nk-file">
                                        <div class="nk-file-info">
                                            <a href="#" data="LINK" class="bitcoin nk-file-link" data-dismiss="modal" data-toggle="modal" data-target="#walleteAddressModal">
                                                <div class="nk-file-title">
                                                    <div class="nk-file-icon">
                                                        <span class="nk-file-icon-type">
                                                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 72 72">
                                                                <g>
                                                                    <path d="M50,61H22a6,6,0,0,1-6-6V22l9-11H50a6,6,0,0,1,6,6V55A6,6,0,0,1,50,61Z" style="fill:#599def" />
                                                                    <path d="M25,20.556A1.444,1.444,0,0,1,23.556,22H16l9-11h0Z" style="fill:#c2e1ff" />
                                                                    <rect x="27" y="31" width="18" height="2" rx="1" ry="1" style="fill:#fff" />
                                                                    <rect x="27" y="36" width="18" height="2" rx="1" ry="1" style="fill:#fff" />
                                                                    <rect x="27" y="41" width="18" height="2" rx="1" ry="1" style="fill:#fff" />
                                                                    <rect x="27" y="46" width="12" height="2" rx="1" ry="1" style="fill:#fff" />
                                                                </g>
                                                            </svg>
                                                        </span>
                                                    </div>
                                                    <div class="nk-file-name">
                                                        <div class="nk-file-name-text"><span class="title">Chainlink (LINK)</span></div>
                                                    </div>
                                                </div>
                                            </a>
                                        </div>
                                        <div class="nk-file-actions">
                                            <div class="dropdown">
                                                <a href="" class="dropdown-toggle btn btn-sm btn-icon btn-trigger" data-toggle="dropdown"><em class="icon ni ni-more-h"></em></a>
                                                <div class="dropdown-menu dropdown-menu-right">
                                                    <ul class="link-list-opt no-bdr">
                                                        <li><a href="#" data="LINK" class="bitcoin" data-dismiss="modal" data-toggle="modal" data-target="#walleteAddressModal">
                                                            <em class="icon ni ni-download"></em><span>View</span></a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="nk-block">
                    <div class="nk-block-head">
                        <div class="nk-block-head-content">
                            <h5 class="nk-block-title"> ADDITIONAL DOCUMENTATION</h5>
                        </div>
                    </div>
                    <div class="nk-files nk-files-view-list">
                        <div class="nk-files-list">
                            <div class="nk-file-item nk-file">
                                <div class="nk-file-info">
                                    <a href="#" class="nk-file-link">
                                        <div class="nk-file-title">
                                            <div class="nk-file-icon">
                                                <span class="nk-file-icon-type">
                                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 72 72">
                                                        <g>
                                                            <path d="M50,61H22a6,6,0,0,1-6-6V22l9-11H50a6,6,0,0,1,6,6V55A6,6,0,0,1,50,61Z" style="fill:#599def" />
                                                            <path d="M25,20.556A1.444,1.444,0,0,1,23.556,22H16l9-11h0Z" style="fill:#c2e1ff" />
                                                            <rect x="27" y="31" width="18" height="2" rx="1" ry="1" style="fill:#fff" />
                                                            <rect x="27" y="36" width="18" height="2" rx="1" ry="1" style="fill:#fff" />
                                                            <rect x="27" y="41" width="18" height="2" rx="1" ry="1" style="fill:#fff" />
                                                            <rect x="27" y="46" width="12" height="2" rx="1" ry="1" style="fill:#fff" />
                                                        </g>
                                                    </svg>
                                                </span>
                                            </div>
                                            <div class="nk-file-name">
                                                <div class="nk-file-name-text"><span class="title">TERMS & CONDITIONS.pdf</span></div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <div class="nk-file-actions">
                                    <div class="dropdown">
                                        <a href="" class="dropdown-toggle btn btn-sm btn-icon btn-trigger" data-toggle="dropdown"><em class="icon ni ni-more-h"></em></a>
                                        <div class="dropdown-menu dropdown-menu-right">
                                            <ul class="link-list-opt no-bdr">
                                                <li><a href="#"><em class="icon ni ni-download"></em><span>Download</span></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="nk-file-item nk-file">
                                <div class="nk-file-info">
                                    <a href="#" class="nk-file-link">
                                        <div class="nk-file-title">
                                            <div class="nk-file-icon">
                                                <span class="nk-file-icon-type">
                                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 72 72">
                                                        <g>
                                                            <path d="M50,61H22a6,6,0,0,1-6-6V22l9-11H50a6,6,0,0,1,6,6V55A6,6,0,0,1,50,61Z" style="fill:#599def" />
                                                            <path d="M25,20.556A1.444,1.444,0,0,1,23.556,22H16l9-11h0Z" style="fill:#c2e1ff" />
                                                            <rect x="27" y="31" width="18" height="2" rx="1" ry="1" style="fill:#fff" />
                                                            <rect x="27" y="36" width="18" height="2" rx="1" ry="1" style="fill:#fff" />
                                                            <rect x="27" y="41" width="18" height="2" rx="1" ry="1" style="fill:#fff" />
                                                            <rect x="27" y="46" width="12" height="2" rx="1" ry="1" style="fill:#fff" />
                                                        </g>
                                                    </svg>
                                                </span>
                                            </div>
                                            <div class="nk-file-name">
                                                <div class="nk-file-name-text"><span class="title">INVESTMENT MANDATE.pdf</span></div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <div class="nk-file-actions">
                                    <div class="dropdown">
                                        <a href="" class="dropdown-toggle btn btn-sm btn-icon btn-trigger" data-toggle="dropdown"><em class="icon ni ni-more-h"></em></a>
                                        <div class="dropdown-menu dropdown-menu-right">
                                            <ul class="link-list-opt no-bdr">
                                                <li><a href="#"><em class="icon ni ni-download"></em><span>Download</span></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="nk-file-item nk-file">
                                <div class="nk-file-info">
                                    <a href="#" class="nk-file-link">
                                        <div class="nk-file-title">
                                            <div class="nk-file-icon">
                                                <span class="nk-file-icon-type">
                                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 72 72">
                                                        <g>
                                                            <path d="M50,61H22a6,6,0,0,1-6-6V22l9-11H50a6,6,0,0,1,6,6V55A6,6,0,0,1,50,61Z" style="fill:#599def" />
                                                            <path d="M25,20.556A1.444,1.444,0,0,1,23.556,22H16l9-11h0Z" style="fill:#c2e1ff" />
                                                            <rect x="27" y="31" width="18" height="2" rx="1" ry="1" style="fill:#fff" />
                                                            <rect x="27" y="36" width="18" height="2" rx="1" ry="1" style="fill:#fff" />
                                                            <rect x="27" y="41" width="18" height="2" rx="1" ry="1" style="fill:#fff" />
                                                            <rect x="27" y="46" width="12" height="2" rx="1" ry="1" style="fill:#fff" />
                                                        </g>
                                                    </svg>
                                                </span>
                                            </div>
                                            <div class="nk-file-name">
                                                <div class="nk-file-name-text"><span class="title">PRIVACY POLICY.pdf</span></div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <div class="nk-file-actions">
                                    <div class="dropdown">
                                        <a href="" class="dropdown-toggle btn btn-sm btn-icon btn-trigger" data-toggle="dropdown"><em class="icon ni ni-more-h"></em></a>
                                        <div class="dropdown-menu dropdown-menu-right">
                                            <ul class="link-list-opt no-bdr">
                                                <li><a href="#"><em class="icon ni ni-download"></em><span>Download</span></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="nk-file-item nk-file">
                                <div class="nk-file-info">
                                    <a href="#" class="nk-file-link">
                                        <div class="nk-file-title">
                                            <div class="nk-file-icon">
                                                <span class="nk-file-icon-type">
                                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 72 72">
                                                        <g>
                                                            <path d="M50,61H22a6,6,0,0,1-6-6V22l9-11H50a6,6,0,0,1,6,6V55A6,6,0,0,1,50,61Z" style="fill:#599def" />
                                                            <path d="M25,20.556A1.444,1.444,0,0,1,23.556,22H16l9-11h0Z" style="fill:#c2e1ff" />
                                                            <rect x="27" y="31" width="18" height="2" rx="1" ry="1" style="fill:#fff" />
                                                            <rect x="27" y="36" width="18" height="2" rx="1" ry="1" style="fill:#fff" />
                                                            <rect x="27" y="41" width="18" height="2" rx="1" ry="1" style="fill:#fff" />
                                                            <rect x="27" y="46" width="12" height="2" rx="1" ry="1" style="fill:#fff" />
                                                        </g>
                                                    </svg>
                                                </span>
                                            </div>
                                            <div class="nk-file-name">
                                                <div class="nk-file-name-text"><span class="title">WEBSITE PRIVACY POLICY.pdf</span></div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <div class="nk-file-actions">
                                    <div class="dropdown">
                                        <a href="" class="dropdown-toggle btn btn-sm btn-icon btn-trigger" data-toggle="dropdown"><em class="icon ni ni-more-h"></em></a>
                                        <div class="dropdown-menu dropdown-menu-right">
                                            <ul class="link-list-opt no-bdr">
                                                <li><a href="#"><em class="icon ni ni-download"></em><span>Download</span></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="nk-block">
                    <div class="card card-bordered">
                        <div class="card-inner card-inner-lg">
                            <div class="align-center flex-wrap flex-md-nowrap g-4">
                                <div class="nk-block-image w-120px flex-shrink-0">
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 120 118">
                                        <path d="M8.916,94.745C-.318,79.153-2.164,58.569,2.382,40.578,7.155,21.69,19.045,9.451,35.162,4.32,46.609.676,58.716.331,70.456,1.845,84.683,3.68,99.57,8.694,108.892,21.408c10.03,13.679,12.071,34.71,10.747,52.054-1.173,15.359-7.441,27.489-19.231,34.494-10.689,6.351-22.92,8.733-34.715,10.331-16.181,2.192-34.195-.336-47.6-12.281A47.243,47.243,0,0,1,8.916,94.745Z" transform="translate(0 -1)" fill="#f6faff" />
                                        <rect x="18" y="32" width="84" height="50" rx="4" ry="4" fill="#fff" />
                                        <rect x="26" y="44" width="20" height="12" rx="1" ry="1" fill="#e5effe" />
                                        <rect x="50" y="44" width="20" height="12" rx="1" ry="1" fill="#e5effe" />
                                        <rect x="74" y="44" width="20" height="12" rx="1" ry="1" fill="#e5effe" />
                                        <rect x="38" y="60" width="20" height="12" rx="1" ry="1" fill="#e5effe" />
                                        <rect x="62" y="60" width="20" height="12" rx="1" ry="1" fill="#e5effe" />
                                        <path d="M98,32H22a5.006,5.006,0,0,0-5,5V79a5.006,5.006,0,0,0,5,5H52v8H45a2,2,0,0,0-2,2v4a2,2,0,0,0,2,2H73a2,2,0,0,0,2-2V94a2,2,0,0,0-2-2H66V84H98a5.006,5.006,0,0,0,5-5V37A5.006,5.006,0,0,0,98,32ZM73,94v4H45V94Zm-9-2H54V84H64Zm37-13a3,3,0,0,1-3,3H22a3,3,0,0,1-3-3V37a3,3,0,0,1,3-3H98a3,3,0,0,1,3,3Z" transform="translate(0 -1)" fill="#798bff" />
                                        <path d="M61.444,41H40.111L33,48.143V19.7A3.632,3.632,0,0,1,36.556,16H61.444A3.632,3.632,0,0,1,65,19.7V37.3A3.632,3.632,0,0,1,61.444,41Z" transform="translate(0 -1)" fill="#6576ff" />
                                        <path d="M61.444,41H40.111L33,48.143V19.7A3.632,3.632,0,0,1,36.556,16H61.444A3.632,3.632,0,0,1,65,19.7V37.3A3.632,3.632,0,0,1,61.444,41Z" transform="translate(0 -1)" fill="none" stroke="#6576ff" stroke-miterlimit="10" stroke-width="2" />
                                        <line x1="40" y1="22" x2="57" y2="22" fill="none" stroke="#fffffe" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" />
                                        <line x1="40" y1="27" x2="57" y2="27" fill="none" stroke="#fffffe" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" />
                                        <line x1="40" y1="32" x2="50" y2="32" fill="none" stroke="#fffffe" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" />
                                        <line x1="30.5" y1="87.5" x2="30.5" y2="91.5" fill="none" stroke="#9cabff" stroke-linecap="round" stroke-linejoin="round" />
                                        <line x1="28.5" y1="89.5" x2="32.5" y2="89.5" fill="none" stroke="#9cabff" stroke-linecap="round" stroke-linejoin="round" />
                                        <line x1="79.5" y1="22.5" x2="79.5" y2="26.5" fill="none" stroke="#9cabff" stroke-linecap="round" stroke-linejoin="round" />
                                        <line x1="77.5" y1="24.5" x2="81.5" y2="24.5" fill="none" stroke="#9cabff" stroke-linecap="round" stroke-linejoin="round" />
                                        <circle cx="90.5" cy="97.5" r="3" fill="none" stroke="#9cabff" stroke-miterlimit="10" />
                                        <circle cx="24" cy="23" r="2.5" fill="none" stroke="#9cabff" stroke-miterlimit="10" />
                                    </svg>
                                </div>
                                <div class="nk-block-content">
                                    <div class="nk-block-content-head px-lg-4">
                                        <h5>We’re here to help you!</h5>
                                        <p class="text-soft">Ask a question or file a support ticket, manage request, report an issues. Our team support team will get back to you by email.</p>
                                    </div>
                                </div>
                                <div class="nk-block-content flex-shrink-0">
                                    <a href="/messages" class="btn btn-lg btn-outline-primary">Get Support Now</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
$(document).ready(function() {
    $('.bitcoin').on('click', function() {

        var currency = $(this).attr('data');
        var walletAddressTitle = currency +' Wallet Address ';
        var walletAddress = '';
        switch(currency) {
            case 'BTC':
                walletAddress = 'bc1qqqcfjvfxz5le7arrznw80ukxdt9kz9rx67s8ep';
            break;

            case 'ETH':
                walletAddress = '0x40105710315D10aAEdcFf7a59d3ECb6385b8F493';
            break;

            case 'LTC':
                walletAddress = 'LiGjnAjfApLqYDtB3qiJonK4cDR2HHR1x7';
            break;

            case 'BCH':
                walletAddress = 'qp0fsrvemwaqklgf9vrqsnhmyzdq0wcs5g084eh5ay';
            break;

            case 'LINK':
                walletAddress = '0x40105710315D10aAEdcFf7a59d3ECb6385b8F493';
            break;

            case 'XRP':
                walletAddress = 'rKKSE8y8ZNr1qLdGtDAbLTknRav6rBhDWQ';
            break;
        }

        $('#walletQRCodeImage').attr('src', '/uploads/documents/'+ currency +'-QR-CODE.png');
        $('.walletAddressTitle').text(walletAddressTitle);
        $('#walletAddress').text(walletAddress);
    });
});
</script>