{{#data}}
<div class="nk-content ">
    <div class="container-fluid">
        <div class="nk-content-inner">
            <div class="nk-content-body">
                <div class="nk-content-wrap">
                    <div class="nk-block-head nk-block-head-lg">
                        <div class="nk-block-between-md g-4">
                            <div class="nk-block-head-content">
                                {{#isUserList}}
                                <h2 class="nk-block-title fw-normal">User List</h2>
                                {{/isUserList}}
                                {{#isTradeList}}
                                <h2 class="nk-block-title fw-normal">
                                    <a href="/adminTradesByUser" style="font-size: 15px; letter-spacing: 1px;">User List / </a>
                                    Trades Of User
                                </h2>
                                {{/isTradeList}}
                                {{#isTrade}}
                                <h2 class="nk-block-title fw-normal">
                                    <a href="/adminTradesByUser" style="font-size: 15px; letter-spacing: 1px;">User List / </a>
                                    <a href="/adminTradesByUser?userId={{tradeUserId}}" style="font-size: 15px; letter-spacing: 1px;">Trades Of User / </a>
                                    Trade Manage
                                </h2>
                                {{/isTrade}}
                                <div class="nk-block-des">
                                    <p>You can add and remove trades of user as you want.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="nk-block">
                        {{#isTradeList}}
                        <a href="/adminTradesByUser?isNew=true&userId={{tradeUserId}}" class="btn btn-primary" style="padding: 7px 30px; margin-bottom: 10px;">Add New Trade</a>
                        {{/isTradeList}}

                        <div class="card card-bordered">
                            {{#isUserList}}
                            <table class="table table-member">
                                <thead class="tb-member-head thead-light">
                                    <tr class="tb-member-item">
                                        <th class="tb-member-info">
                                            <span class="overline-title">User</span>
                                        </th>
                                        <th class="tb-member-type tb-col-sm">
                                            <span class="overline-title">Account Type</span>
                                        </th>
                                        <th class="tb-member-role tb-col-md">
                                            <span class="overline-title">Date Joined</span>
                                        </th>
                                         <th class="tb-member-role tb-col-md">
                                            <span class="overline-title">LAST TRADE NUMBER</span>
                                        </th>
                                        <th class="tb-member-action">
                                            <span class="overline-title">Action</span>
                                        </th>
                                    </tr>
                                </thead>
                                <tbody class="tb-member-body">
                                    {{#users}}
                                    <tr class="tb-member-item">
                                        <td class="tb-member-info">
                                            <div class="user-card">
                                                <div class="user-avatar bg-primary">
                                                    {{#hasPhoto}}
                                                    <img src={{userPhoto}}>
                                                    {{/hasPhoto}}
                                                    {{^hasPhoto}}
                                                    <span>{{userPhoto}}</span>
                                                    {{/hasPhoto}}
                                                </div>
                                                <div class="user-info">
                                                    <span class="lead-text">{{firstName}} &nbsp; {{lastName}}</span>
                                                    <span class="sub-text">{{email}}</span>
                                                </div>
                                            </div>
                                        </td>
                                        <td class="tb-member-type tb-col-sm">
                                            <span>{{accountType}}</span>
                                        </td>
                                        <td class="tb-member-role tb-col-md">
                                            <span>{{dateCreated}}</span>
                                        </td>
                                         <td class="tb-member-role tb-col-md">
                                            <span>{{last_trades_num}}</span>
                                        </td>
                                        <td class="tb-member-action">
                                            <div class="d-none d-md-inline">
                                                <a href="/adminTradesByUser?userId={{id}}" class="link link-sm"><span>Edit Trade</span></a>
                                            </div>
                                        </td>
                                    </tr>
                                    {{/users}}
                                    {{^users}}
                                    <tr class="tb-member-item">
                                        <td colspan=4 style="text-align: center">There is no user.</td>
                                    </tr>
                                    {{/users}}
                                </tbody>
                            </table>
                            {{/isUserList}}

                            {{#isTradeList}}
                            <table class="table table-member">
                                <thead class="tb-member-head thead-light">
                                    <tr class="tb-member-item">
                                        <th class="tb-member-info">
                                            <span class="overline-title">Trade Date</span>
                                        </th>
                                        <th class="tb-member-type tb-col-sm">
                                            <span class="overline-title">Trade Type</span>
                                        </th>
                                        <th class="tb-member-role tb-col-md">
                                            <span class="overline-title">Market</span>
                                        </th>
                                        <th class="tb-member-role tb-col-md">
                                            <span class="overline-title">Profit</span>
                                        </th>
                                        <th class="tb-member-role tb-col-md">
                                            <span class="overline-title">Total Balance</span>
                                        </th>
                                        <th class="tb-member-action">
                                            <span class="overline-title">Action</span>
                                        </th>
                                    </tr>
                                </thead>
                                <tbody class="tb-member-body">
                                    {{#trades}}
                                    <tr class="tb-member-item">
                                        <td class="tb-member-info">
                                            <span>{{tradeDate}}</span>
                                        </td>
                                        <td class="tb-member-type tb-col-sm">
                                            <span>{{tradeType}}</span>
                                        </td>
                                        <td class="tb-member-role tb-col-md">
                                            <span>{{market}}</span>
                                        </td>
                                        <td class="tb-member-role tb-col-md">
                                            <span>{{profit}}</span>
                                        </td>
                                        <td class="tb-member-role tb-col-md">
                                            <span>{{currentBalance}}</span>
                                        </td>
                                        <td class="tb-member-action">
                                            <div class="d-none d-md-inline">
                                                <a href="/adminTradesByUser?id={{id}}&userId={{userId}}" class="link link-sm"><span>View Trade</span></a>
                                                <a href="/adminTradesByUser?id={{id}}&userId={{userId}}&delete=true" class="link link-sm link-danger"><span>Delete Trade</span></a>
                                            </div>
                                        </td>
                                    </tr>
                                    {{/trades}}
                                    {{^trades}}
                                    <tr class="tb-member-item">
                                        <td colspan=6 style="text-align: center">There is no trade for this user.</td>
                                    </tr>
                                    {{/trades}}
                                </tbody>
                            </table>
                            {{/isTradeList}}

                            {{#isTrade}}
                            <div class="card-inner">
                                <div class="preview-block">
                                    <form method="post" action="/adminTradesByUser" enctype="multipart/form-data" class="row gy-3">
                                        {{#trade}}<input type="hidden" name="id" value="{{id}}">{{/trade}}
                                        <input type="hidden" name="userId" value="{{tradeUserId}}">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <div class="form-control-wrap">
                                                    <input type="text" id="tradeDate" name="tradeDate" value="{{#trade}}{{tradeDate}}{{/trade}}" class="date-picker form-control form-control-lg form-control-outlined" data-date-format="dd-mm-yyyy" autocomplete="off" required>
                                                    <label class="form-label-outlined" for="tradeDate">Trade Date</label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <div class="form-control-wrap">
                                                    <input type="text" id="accountType" value="{{accountType}}" name="accountType" class="form-control form-control-lg form-control-outlined" readonly>
                                                    <label class="form-label-outlined" for="accountType">Account Type</label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <div class="form-control-wrap">
                                                    <input type="hidden" id="tradeType1" value="{{#trade}}{{tradeType}}{{/trade}}">
                                                    <select id="tradeType" name="tradeType" class="form-select form-control form-control-lg" data-ui="lg" required>
                                                        <option value="long">Long</option>
                                                        <option value="short">Short</option>
                                                        <option value="deposit">Deposit</option>
                                                        <option value="withdrawal">Withdrawal</option>
                                                        <option value="bonusDeposit">Bonus Deposits</option>
                                                    </select>
                                                    <label class="form-label-outlined" for="tradeType">Trade Type</label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group tradeNumber">
                                                <div class="form-control-wrap"> 
                                                    <input type="hidden" id="lastTradeNumber" value="{{lastTradeNumber}}">
                                                    <input type="text" id="tradeNumber" value="{{#trade}}{{tradeNumber}}{{/trade}}" name="tradeNumber" class="form-control form-control-lg form-control-outlined" readonly>
                                                    <label class="form-label-outlined" for="tradeNumber">Trade Number</label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group market">
                                                <div class="form-control-wrap">
                                                    <input type="hidden" id="market1" value="{{#trade}}{{market}}{{/trade}}">
                                                    <select id="market" name="market" class="form-select form-control form-control-lg" data-ui="lg" required>
                                                        
                                                        <option value="BTC/USDT">BTC/USDT</option>
                                                        <option value="LTC/USDT">LTC/USDT</option>
                                                        <option value="ETH/USDT">ETH/USDT</option>
                                                        <option value="XRP/USDT">XRP/USDT</option>
                                                        <option value="LINK/USDT">LINK/USDT</option>
                                                        <option value="BNB/USDT">BNB/USDT</option>
                                                    </select>
                                                    <label class="form-label-outlined" for="market">Trading Pair</label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <div class="form-control-wrap profit">
                                                    <input type="text" id="profit" value="{{#trade}}{{profit}}{{/trade}}" name="profit" class="form-control form-control-lg form-control-outlined"  autocomplete="off" required>
                                                    <label class="form-label-outlined" for="profit">Profit</label>
                                                </div>
                                                <div class="form-control-wrap amount">
                                                    <input type="text" id="amount" name="amount" class="form-control form-control-lg form-control-outlined"  autocomplete="off" required>
                                                    <label class="form-label-outlined" for="amount">Amount</label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group winlossTrade">
                                                <div class="form-control-wrap">
                                                    <input type="hidden" id="winlossTrade1" value="{{#trade}}{{winlossTrade}}{{/trade}}">
                                                    <select id="winlossTrade" name="winlossTrade" class="form-select form-control form-control-lg" data-ui="lg" required>
                                                        <option value="win">Win</option>
                                                        <option value="loss">Loss</option>
                                                        <option value="deposit">Deposit</option>
                                                        <option value="withdrawal">Withdrawal</option>
                                                        <option value="bonusDeposit">Bonus Deposit</option>
                                                    </select>
                                                    <label class="form-label-outlined" for="winlossTrade">Winning or Losing Trade</label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group totalBalance">
                                                <div class="form-control-wrap">
                                                    <input type="hidden" id="totalBalance" value="{{totalBalance}}">
                                                    <input type="text" id="currentBalance" value="{{#trade}}{{currentBalance}}{{/trade}}" name="currentBalance" class="form-control form-control-lg form-control-outlined" readonly>
                                                    <label class="form-label-outlined" for="currentBalance">Total Balance</label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="row g-3 align-center">
                                                <div class="col-lg-3">
                                                    <div class="form-group">
                                                        <label class="form-label">Screenshot: </label>
                                                    </div>
                                                </div>
                                                <div class="col-lg-9">
                                                    <div class="form-group">
                                                        <div class="form-control-wrap">
                                                            <div class="custom-file">
                                                                <input type="file" multiple class="custom-file-input" name="fileToUpload" id="fileToUpload">
                                                                <label class="custom-file-label" for="fileToUpload">Choose file</label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <input type="submit" name="updateTrade" class="btn btn-primary"
                                            value="{{#trade}}Update Trade{{/trade}}{{^trade}}Add Trade{{/trade}}">

                                            {{#trade}}<a href="/adminTradesByUser?delete=true&id={{id}}&userId={{tradeUserId}}" class="btn btn-danger"> Delete Trade Value </a>{{/trade}}
                                        </div>
                                    </form>
                                </div>
                            </div>
                            {{/isTrade}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<style>
.tb-member-action .d-md-inline a {
    font-size: 13px;
    margin-right: 10px;
}
</style>

<script>
$(document).ready(function() {

    if ($('#tradeNumber').val() == '') $('#tradeNumber').val($('#lastTradeNumber').val());

    $('#tradeType').change(function(){
		var tradeType = $("#tradeType option:selected").val();

		if(tradeType =='withdrawal' || tradeType =='deposit' || tradeType =='bonusDeposit'){
            $('.tradeNumber').hide(); 
            $('.profit').hide(); 
            $('.market').hide();
            $('.winlossTrade').hide();
            $('.totalBalance').hide();
            $('.amount').show();       	

            $('#tradeNumber').removeAttr('required');
            $('#profit').removeAttr('required');
            $('#market').removeAttr('required');
            $('#winlossTrade').removeAttr('required');
            $('#totalBalance').removeAttr('required');
            $('#amount').attr('required', 'required');	
        }
        else{
            $('.tradeNumber').show();
            $('.profit').show();
            $('.market').show();
            $('.winlossTrade').show();       	
            $('.totalBalance').show();       	
            $('.amount').hide();

            $('#tradeNumber').attr('required', 'required');
            $('#profit').attr('required', 'required');
            $('#market').attr('required', 'required');
            $('#winlossTrade').attr('required', 'required');	
            $('#totalBalance').attr('required', 'required');	
            $('#amount').removeAttr('required');
        }
	});

    $('#profit').on('keyup', function() {
        changeBalance();
    });

    $('#winlossTrade').on('change', function() {
        changeBalance();
    });

    $('#tradeType').val($('#tradeType1').val()).change();
    $('#market').val($('#market1').val()).change();
    $('#winlossTrade').val($('#winlossTrade1').val()).change();

    function changeBalance() {
        var totalBalance = $('#totalBalance').val();
        var profit = Math.abs($('#profit').val());
        var winlossTrade = $('#winlossTrade').val();
        var currentBalance = 0;
        if (winlossTrade == 'win') currentBalance = Number(totalBalance) + Number(profit);
        if (winlossTrade == 'loss') currentBalance = Number(totalBalance) - Number(profit);
        $('#currentBalance').val(currentBalance);
    }
});
</script>

{{/data}}