{{#data}}
<div class="nk-content ">
    <div class="container-fluid">
        <div class="nk-content-inner">
            <div class="nk-content-body">
                <div class="nk-content-wrap">
                    <div class="nk-block-head nk-block-head-lg">
                        <div class="nk-block-between-md g-4">
                            <div class="nk-block-head-content">
                                <h2 class="nk-block-title fw-normal">Trades By Account Type</h2>
                                <div class="nk-block-des">
                                    <p> Below mentioned trade details will get reflected throughout the selected group members.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="nk-block">
                        <div class="card card-bordered">
                            <div class="card-inner">
                                <div class="preview-block">
                                    {{#insertedTrade}}
                                    <div class="form-group example-alert">
                                        <div class="alert alert-success alert-icon alert-dismissible">
                                            <em class="icon ni ni-check-circle"></em> Trades by account type have been inserted. <button class="close" data-dismiss="alert"></button>
                                        </div>
                                    </div>
                                    {{/insertedTrade}}
                                    <form method="post" action="/adminTradesByAccountType" enctype="multipart/form-data" class="row gy-3">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <div class="form-control-wrap">
                                                    <input type="text" id="tradeDate" name="tradeDate" class="date-picker form-control form-control-lg form-control-outlined" autocomplete="off" data-date-format="dd-mm-yyyy" required>
                                                    <label class="form-label-outlined" for="tradeDate">Trade Date</label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <div class="form-control-wrap">
                                                    <select id="accountType" name="accountType" class="form-select form-control form-control-lg" data-ui="lg" required>
                                                        <option value="all">Send to All</option>
                                                        <option value="tc">14 Day Trial</option>
                                                        <option value="gd"> Apollo</option>
                                                        <option value="gd+">Thor</option>
                                                        <option value="pt">Odin</option>
                                                        <option value="zu">Zeus</option>
                                                    </select>
                                                    <label class="form-label-outlined" for="accountType">Account Type</label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <div class="form-control-wrap">
                                                    <select id="tradeType" name="tradeType" class="form-select form-control form-control-lg" data-ui="lg" required>
                                                        <option value="long">Long</option>
                                                        <option value="short">Short</option>
                                                    </select>
                                                    <label class="form-label-outlined" for="tradeType">Trade Type</label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group market">
                                                <div class="form-control-wrap">
                                                    <select id="market" name="market" class="form-select form-control form-control-lg" data-ui="lg" required>
                                                       
                                                        <option value="BTC/USDT">BTC/USDT</option>
                                                        <option value="LTC/USDT">LTC/USDT</option>
                                                        <option value="ETH/USDT">ETH/USDT</option>
                                                        <option value="XRP/USDT">XRP/USDT</option>
                                                        <option value="LINK/USDT">LINK/USDT</option>
                                                        <option value="BNB/USDT">BNB/USDT</option>
                                                        <option value="ADA/USDT">ADA/USDT</option>
                                                        <option value="DOT/USDT">DOT/USDT</option>
                                                        <option value="SOL/USDT">SOL/USDT</option>
                                                    </select>
                                                    <label class="form-label-outlined" for="market">Trading Pair</label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group tradeNumber">
                                                <div class="form-control-wrap">
                                                    <input type="text" id="tradeNumber" name="tradeNumber" class="form-control form-control-lg form-control-outlined" value="{{lastTradeNumber}}" required>
                                                    <label class="form-label-outlined" for="tradeNumber">Trade Number</label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <div class="form-control-wrap">
                                                    <select id="winlossTrade" name="winlossTrade" class="form-select form-control form-control-lg" data-ui="lg" required>
                                                        <option value="win">Win</option>
                                                        <option value="loss">Loss</option>
                                                    </select>
                                                    <label class="form-label-outlined" for="winlossTrade">Winning or Losing Trade</label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="row g-3 align-center">
                                                <div class="col-lg-3">
                                                    <div class="form-group">
                                                        <label class="form-label">Screenshot: </label>
                                                    </div>
                                                </div>
                                                <div class="col-lg-9">
                                                    <div class="form-group">
                                                        <div class="form-control-wrap">
                                                            <div class="custom-file">
                                                                <input type="file" multiple class="custom-file-input" name="fileToUpload" id="fileToUpload">
                                                                <label class="custom-file-label" for="fileToUpload">Choose file</label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <button type="submit" name="updateTrade" class="btn btn-primary">
                                                Add Trade
                                            </button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<style>
.tb-member-action .d-md-inline a {
    font-size: 13px;
    margin-right: 10px;
}
</style>

{{/data}}