{{#data}}
    <div class="nk-content ">
        <div class="container-fluid">
            <div class="nk-content-inner">
                <div class="nk-content-body">
                    <div class="nk-content-wrap">
                        <div class="nk-block-head nk-block-head-lg">
                            <div class="nk-block-between-md g-4">
                                <div class="nk-block-head-content">
                                    <h2 class="nk-tle fw-normal">Change Password1111</h2>
                                    <div class="nk-block-des">
                                        {{#message}}
                                            <p>{{message}}</p>
                                        {{/message}}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="nk-block">

                            <div class="card-inner">
                                <form action="/changePasswordAdmin" class="validatedForm" method="post" class="gy-3" autocomplete="off">
                                    <div class="row g-3 align-center">
                                        <div class="col-lg-3">
                                            <div class="form-group">
                                                <label class="form-label">Old Password</label>
                                            </div>
                                        </div>
                                        <div class="col-lg-5">
                                            <div class="form-group">
                                                <div class="form-control-wrap">
                                                    <input type="text" class="form-control" name="oldPassword" placeholder="Enter Old Password" ">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row g-3 align-center">
                                        <div class="col-lg-3">
                                            <div class="form-group">
                                                <label class="form-label">New Password</label>
                                            </div>
                                        </div>
                                        <div class="col-lg-5">
                                            <div class="form-group">
                                                <div class="form-control-wrap">
                                                    <input type="text" class="form-control" name="newPassword" id="newPassword" placeholder="Enter New Password">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row g-3 align-center">
                                        <div class="col-lg-3">
                                            <div class="form-group">
                                                <label class="form-label">Re-enter New Password</label>
                                            </div>
                                        </div>
                                        <div class="col-lg-5">
                                            <div class="form-group">
                                                <div class="form-control-wrap">
                                                    <input type="text" class="form-control" name="re_enterPassword" placeholder="Re-enter New Password" ">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row g-3">
                                        <div class="col-lg-5 offset-lg-3">
                                            <div class="form-group mt-2">
                                                <button type="submit" class="btn btn-lg btn-primary">Submit</button>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <style>
        .tb-member-action .d-md-inline a {
            font-size: 13px;
            margin-right: 10px;
        }
    </style>
        <script>
            jQuery('.validatedForm').validate({
                rules: {
                    oldPassword: {
                        required: true,
                    },
                    newPassword: {
                        required: true,
                        minlength: 3
                    },
                    re_enterPassword: {
                        required: true,
                        equalTo: "#newPassword"
                    }

                },
                messages:{
                    oldPassword: {
                        required: "This is required field"
                    },
                    newPassword: {
                        required: "This is required field",
                        minlength: "Please enter atleast 3 characters"
                    },
                    re_enterPassword: {
                        required: "This is required field",
                        equalTo: "Password doesn't match with New Password"
                    }
                }
            });
        </script>


{{/data}}