<div class="nk-content ">
    <div class="container-fluid">
        <div class="nk-content-inner">
            <div class="nk-content-body">
                <div class="nk-content-wrap">
                    <div class="nk-block-head nk-block-head-lg">
                        <div class="nk-block-head-sub"><span>FAQs</span></div>
                        <div class="nk-block-between-md g-4">
                            <div class="nk-block-head-content">
                                <h2 class="nk-block-title fw-normal">Frequently Ask Questions</h2>
                                <div class="nk-block-des">
                                    <p>Here are some question and you can find your answer.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="nk-block">
                        <h5 class="title text-primary">General Question</h5>
                        <p>You can find general answer here.</p>
                        <div id="faq-gq" class="accordion">
                            <div class="accordion-item">
                                <a href="#" class="accordion-head" data-toggle="collapse" data-target="#faq-gq-1">
                                    <h6 class="title">How are the profits and losses distributed?</h6>
                                    <span class="accordion-icon"></span>
                                </a>
                                <div class="accordion-body collapse show" id="faq-gq-1" data-parent="#faq-gq">
                                    <div class="accordion-inner">
                                        <p>The Bitlafa fund is run on the PAMM (Percentage Allocation Management Module).</p>
                                        <p>Our bespoke currency trading software enables our traders the ability to control multiple client accounts via one master account.</p>
                                        <p>Once a trader has identified a potential trade, clients funds are automatically moved from their segregated client accounts into the master account where they're pooled together once the trade has been initiated.</p>
                                        <p>After the trade is has been closed profits or losses are then evenly allocated between sub-accounts based on the percentage equity of each account, ensuring each individual account is contributing its share to the trade.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item">
                                <a href="#" class="accordion-head collapsed" data-toggle="collapse" data-target="#faq-gq-2">
                                    <h6 class="title">How do we operate without charging management fees?</h6>
                                    <span class="accordion-icon"></span>
                                </a>
                                <div class="accordion-body collapse" id="faq-gq-2" data-parent="#faq-gq">
                                    <div class="accordion-inner">
                                        <p>Our goal is to transform the fund management arena by aligning our incentives with those of our clients. We do this in a number of ways.</p>
                                        <p>1. We keep our recurring overheads low. Our support and administration staff are also located around the world to save on operation costs.</p>
                                        <p>2. We preserve company capital. During positive months we stockpile a portion of the fees collected to ensure we have working capital during poorer performing months.</p>
                                        <p>3. We believe performance is paramount. Therefore we only employ traders that have proven the ability to consistently make money through a careful, consistent approach to the market.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item">
                                <a href="#" class="accordion-head collapsed" data-toggle="collapse" data-target="#faq-gq-3">
                                    <h6 class="title">Can I withdraw my funds at any time?</h6>
                                    <span class="accordion-icon"></span>
                                </a>
                                <div class="accordion-body collapse" id="faq-gq-3" data-parent="#faq-gq">
                                    <div class="accordion-inner">
                                        <p>There is a minimum hold period of 12 months on all accounts (excluding Trial). Once this has elapsed, you can withdraw up to $10,000 at any time through the client control panel. More substantial withdrawals you require verbal approval from our risk assessment team to ensure it is, in fact, yourself that has requested the withdrawal. This process can take up to 24hrs.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item">
                                <a href="#" class="accordion-head collapsed" data-toggle="collapse" data-target="#faq-gq-4">
                                    <h6 class="title">What happens if you go bankrupt, is my money safe?</h6>
                                    <span class="accordion-icon"></span>
                                </a>
                                <div class="accordion-body collapse" id="faq-gq-4" data-parent="#faq-gq">
                                    <div class="accordion-inner">
                                        <p>All retail client funds are held in fully segregated client accounts, Bitlafa has a limited power of attorney to trade against the funds held on deposit, with power to deduct or increase client account funds per close of trade. Bitlafa cannot withdraw or mix client funds with company assets for the purpose of regulation and client protection. This ensures our goals are in-line with yours whilst offering the highest level of investor protection and confidence in asset protection, all accounts are covered by industry-standard protection and deposit protection.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item">
                                <a href="#" class="accordion-head collapsed" data-toggle="collapse" data-target="#faq-gq-5">
                                    <h6 class="title">What is the minimum investment?</h6>
                                    <span class="accordion-icon"></span>
                                </a>
                                <div class="accordion-body collapse" id="faq-gq-5" data-parent="#faq-gq">
                                    <div class="accordion-inner">
                                        <p>Not including Trial Accounts, The minimum investment is the equivalent of 5,000 USDT, with a retail limit of 500,000 USDT.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item">
                                <a href="#" class="accordion-head collapsed" data-toggle="collapse" data-target="#faq-gq-6">
                                    <h6 class="title">Do we offer leverage & margin trading?</h6>
                                    <span class="accordion-icon"></span>
                                </a>
                                <div class="accordion-body collapse" id="faq-gq-6" data-parent="#faq-gq">
                                    <div class="accordion-inner">
                                        <p>Leverage Margin trading is only available to institutional and professional clients.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="nk-block nk-block-lg">
                        <h5 class="title text-primary">My Account</h5>
                        <p>You can find answer here about your account</p>
                        <div id="faq-aq" class="accordion">
                            <div class="accordion-item">
                                <a href="#" class="accordion-head collapsed" data-toggle="collapse" data-target="#faq-aq-1">
                                    <h6 class="title">How do I know my details are secure?</h6>
                                    <span class="accordion-icon"></span>
                                </a>
                                <div class="accordion-body collapse" id="faq-aq-1" data-parent="#faq-aq">
                                    <div class="accordion-inner">
                                        <p>Using Bitlafa Online you can be confident in the knowledge that your information is safe.</p>
                                        <p>Your security and privacy are of the utmost importance to us and we’re constantly implementing new measures to improve the security of our services.</p>
                                        <p>Any information you share with us is stored securely using the latest encryption technology.</p>
                                        <p>We’ve also implemented two stage withdrawal authentication, where you'll need to speak with someone from our company before a withdrawal is authorised ensuring that only you can withdraw funds from your bitlafa account. </p>
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item">
                                <a href="#" class="accordion-head collapsed" data-toggle="collapse" data-target="#faq-aq-2">
                                    <h6 class="title">How do I deposit funds into my account?</h6>
                                    <span class="accordion-icon"></span>
                                </a>
                                <div class="accordion-body collapse" id="faq-aq-2" data-parent="#faq-aq">
                                    <div class="accordion-inner">
                                        <p>Please follow the steps via the Deposit/Withdrawal section</p>
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item">
                                <a href="#" class="accordion-head collapsed" data-toggle="collapse" data-target="#faq-aq-3">
                                    <h6 class="title">How do I contact my trader?</h6>
                                    <span class="accordion-icon"></span>
                                </a>
                                <div class="accordion-body collapse" id="faq-aq-3" data-parent="#faq-aq">
                                    <div class="accordion-inner">
                                        <p>You can contact your trader directly through the online email portal.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item">
                                <a href="#" class="accordion-head collapsed" data-toggle="collapse" data-target="#faq-aq-4">
                                    <h6 class="title">How can I close my account?</h6>
                                    <span class="accordion-icon"></span>
                                </a>
                                <div class="accordion-body collapse" id="faq-aq-4" data-parent="#faq-aq">
                                    <div class="accordion-inner">
                                        <p>To close your account please speak to your account manager.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item">
                                <a href="#" class="accordion-head collapsed" data-toggle="collapse" data-target="#faq-aq-5">
                                    <h6 class="title">How can I sign up for the referral program?</h6>
                                    <span class="accordion-icon"></span>
                                </a>
                                <div class="accordion-body collapse" id="faq-aq-5" data-parent="#faq-aq">
                                    <div class="accordion-inner">
                                        <p>As a client your already included in he referral program, each client you refer you'll receive $250 to your trading account once they've deposited a minimum of $1000. Please speak to your account manager for your bespoke referral code.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="nk-block nk-block-lg">
                        <div class="card card-bordered border-primary">
                            <div class="card-inner">
                                <div class="nk-cta">
                                    <div class="nk-cta-block">
                                        <div class="nk-cta-img">
                                            <em class="icon icon-circle ni ni-msg"></em>
                                        </div>
                                        <div class="nk-cta-text">
                                            <p>If you don’t find your question please contact our support team.</p>
                                        </div>
                                    </div>
                                    <div class="nk-cta-action">
                                        <a href="/messages" class="btn btn-primary">Contact Us</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>